<ion-header>
  <ion-toolbar>
    <ion-title>Liste des tâches</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-fab vertical="top" horizontal="end" slot="fixed" edge="true">
    <ion-fab-button (click)="presentAddTaskAlert()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item-sliding *ngFor="let task of taskList">
      <ion-item>
        <ion-label>{{ task.taskName }}</ion-label>
        <ion-checkbox
          slot="start"
          [(ngModel)]="task.done"
          (ionChange)="statusChange(task)"
        ></ion-checkbox>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>
          <ion-button (click)="presentUpdateTaskAlert(task)">
            <ion-icon name="create" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-item-option>
        <ion-item-option>
          <ion-button (click)="presentDeleteTaskAlert(task.id)">
            <ion-icon name="trash" color="danger" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
