<ion-header>
  <ion-toolbar>
    <ion-title>random-user</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-align-items-start">
      <ion-col size="4">
        <ion-img [src]="user.picture" *ngIf="user.picture"></ion-img>
      </ion-col>
      <ion-col>
        <h4 style="margin-top: -10px;">{{user.getFullName() }}</h4>
        <p>{{ user.address }} <br />{{ user.zipCode }} {{ user.city }}</p>
        <p>
          Né {{ user.gender=="female"?"e":"" }} le {{ user.dateOfBirth | date:
          'd/M/yyyy'}}
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
